# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-ast
  - id: check-merge-conflict
  - id: debug-statements
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.6.1'
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-awesome
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-deprecated
    - flake8-fixme
    - flake8-pep3101
    - flake8-polyfill
    - flake8-print
    args:
    - "--ignore=A003,C408,I001,I003,I004,I005,I900,IF100,Q000,G001,PT013,PT023,S311,S,F401,R504,T201"
    - "--per-file-ignores=*test*/*:S101,smoke.py:S101,S501,E501,sanitize.py:E501,R503,authors.py:ECE001,W504,batou:T102,conf.py:A001"
    - "--max-line-length=88"
