name: Testrunner

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    name: Test Run
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: read
      checks: write

    steps:
    - run: |
          sudo apt-get update &&
          wget "https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb" -P /tmp &&
          sudo apt-get install -y "/tmp/google-chrome-stable_current_amd64.deb" -f
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - uses: nanasess/setup-chromedriver@v2
    - run: python -m pip install --upgrade tox playwright
    - run: python -m tox -- --junitxml=report.xml -o junit_family=xunit2 --browser-channel chrome

    - name: Publish test result
      uses: enricomi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: report.xml
        comment_mode: "off"
